@use './scss//variables.scss';
@use './scss//extends.scss';
@use './scss//reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

.wrapper {
  min-height: 100vh;
  @extend %flexCenter;
}

.question {
  text-align: center;
  margin: 20px 0px 0px 0px;
}
