@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  color: #fff;
}

aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

ul {
  li {
    list-style: none;
  }
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: #fff;
}

.form {
  min-width: 350px;
  background-color: #fff;
  padding: 30px 10px 5px 10px;
  border-radius: 15px;
}

.question {
  text-align: center;
  margin: 15px 0px 0px 0px;
}
